<section class="section__header">
    <div class="logotype">
        <a href="/"><img src="~/images/logotype.png" alt="CoreFitness Logotype" /></a>
    </div>
    <nav class="main-menu">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="FitnessCenters">Fitness Centers</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="Memberships">Memberships</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="Training">Training</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="CustomerService">Customer Service</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="Store">Store</a>
            </li>
        </ul>
    </nav>
    <nav class="account-menu">
        <ul class="menu">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <li class="menu-item">
                    <form method="post" asp-action="SignOut" asp-controller="Authentication" novalidate>
                        <button class="menu-item-link" type="submit">Sign Out</button>
                    </form>
                </li>


            }
            else
            {

            }

            <li class="menu-item">
                <a class="btn accent" asp-action="Index" asp-controller="Account">My Account</a>
            </li>
        </ul>
    </nav>

    <button id="mobile-menu-button" data-target="#mobile-menu-flyout" class="mobile-btn accent"></button>

</section>